* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  display: flex;
  padding: 2%;
  align-items: start;
  flex-direction: column;
}

.info input {
  margin: 0.3%;
  padding: 0.4em;
}

.info label {
  padding: 0.5%;
}

.submit {
  margin: 1% 0;
  padding: 0.6em;
}
